<!DOCTYPE html>
<html>
  <head>
    <title>MenuBuilder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "layouts/header" %>

    <div class="columns is-fullheight">
      <div class="column is-2 is-sidebar-menu is-hidden-mobile">
        <aside class="menu">
          <p class="menu-label">
            <span class="icon">
              <i class="far fa-file-alt fa-lg"></i>
            </span>
            Menu
          </p>
          <ul class="menu-list">
            <li>
              <a>Current Menu</a>
            </li>
            <li><a>Your Menus</a></li>
            <li>
              <%= link_to "Create Menu", new_menu_path %>
            </li>
          </ul>
          <p class="menu-label">
            <span class="icon">
              <i class="fas fa-utensils fa-lg"></i>
            </span>
            Meal
          </p>
          <ul class="menu-list">
            <li><a>Your Meals</a></li>
            <li><a>Create Meal</a></li>
          </ul>
          <p class="menu-label">
            <span class="icon">
              <i class="fas fa-address-card fa-lg"></i>
            </span>
            Account
          </p>
          <ul class="menu-list">
            <li><a>Edit</a></li>
            <li><a>Log Out</a></li>
          </ul>
        </aside>
      </div>
      <div class="column is-10">
        <% if flash.present? %>
          <section class="section">
            <% flash.each do |key, msg| %>
            <%# need to add is-warning and is-danger classes here %>
              <%= content_tag :div, id: key, class: ["notification", "is-success"] do %>
                 <button class="delete"></button>
                 <%= msg %>
              <% end%>
            <% end %>    
            
          </section>
        <% end %>
        
        <section class="section">
          <%= yield %>  
        </section>
      </div>
    </div>
  </body>
</html>
